<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <shipping>
            <rates_collector>
                <use_inventory_source_origin>1</use_inventory_source_origin>
            </rates_collector>
        </shipping>
    </default>
</config>
